/* 全体的なスタイル */
body {
    margin: 0;
    padding: 0;
    background-color: #17142e;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: 'Comfortaa', sans-serif;
    color: white;
}

.profile-container {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

/* ヒーローセクション */
.hero-section {
    padding: 50px 20px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.title-main {
    font-size: 120px;
    color: #f5005b;
    margin: 10px 0;
    font-weight: 900; /* 太字 */
    line-height: 1.4; /* 行間 */
    letter-spacing: 0.05em; /* 文字間隔 */
}

.title-sub {
    font-size: 40px;
    margin: 5px 0;
    color: white;
    line-height: 1.3; /* 行間 */
    letter-spacing: 0.05em; /* 文字間隔 */
}

.highlight {
    color: gold;
}

/* アプリの説明 */
.app-description {
    font-size: 16px;
    color: white;
    margin: 30px 0 30px 0;
    line-height: 1.5; /* 行間 */
}

/* アプリのグリッド */
.app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.app-item {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* トランジション */
}

.app-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.app-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out; /* トランジション */
}

.app-item:hover .app-image {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.app-name {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600; /* 太字 */
}

/* リンク */
.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* トランジション */
    display: flex;
    align-items: center;
}

.link i {
    margin-right: 5px;
}

.link:hover {
    color: gold;
    transform: scale(1.1);
}

/* プライバシーポリシー */
.privacy-policy-body {
    margin: 20px;
    font-size: 16px;
}

/* 戻るリンク */
.back-link {
    font-size: 2.5vw;
    color: white;
    text-decoration: none;
    margin: 20px 0;
}

.back-link i {
    font-size: 2.5vw;
    color: gold;
    margin-right: 10px;
}

.back-link:hover {
    color: gold;
}

/* メディアクエリ */
/* スマートフォン用スタイル */
@media (max-width: 480px) {
    .title-main {
        font-size: 60px;
    }

    .title-sub {
        font-size: 24px;
    }

    .hero-section {
        padding: 30px 10px; /* 余白 */
        margin-bottom: 20px;
    }
}

/* タブレット用スタイル */
@media (min-width: 481px) and (max-width: 1024px) {
    .title-main {
        font-size: 80px;
    }

    .title-sub {
        font-size: 30px;
    }
    .hero-section {
        padding: 40px 15px; /* 余白 */
    }
}

/* デスクトップ用スタイル */
@media (min-width: 1025px) {
    .title-main {
        font-size: 120px;
    }

    .title-sub {
        font-size: 40px;
    }
    .profile-container {
        width: 80%; /* 幅 */
    }
    .hero-section {
        padding: 60px 20px; /* 余白 */
    }
}
