html {
    margin: 0 auto;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
    color: white;
    text-align: center;
}

body {
    background-color: #17142e;
    margin-top: 8vh;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gold;
}

#left-zone {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 7.5vw;
    background: rgba(170, 43, 170, 0.425);
}

header {
    text-align: center;
}

#title_up {
    font-size: clamp(10rem, 11rem, 12rem);
    color: #f5005b;
}

#title_bottom {
    font-size: clamp(3rem, 3rem, 3rem);
    padding-top: clamp(0.8rem, 0.9rem, 1rem);
    padding-bottom: clamp(5rem, 6rem, 7rem);
}

#gold {
    color: gold;
}

table {
    margin: 0 5rem 0 0;
    border-collapse: collapse;
    font-size: clamp(1.5rem, 1.75rem, 2rem);
    font-weight: 500;
    width: 90%;
}

td {
    border-right: solid 1px white;
    white-space: pre-line;
    width: 50%;
    padding: 1vw;
    box-sizing: border-box;
    vertical-align: middle;
}

#left {
    text-align: right;
}

#right {
    padding-left: 3%;
    text-align: left;
}

#right img {
    width: 180px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3%;
}

tr td:first-child {
    border-left: none;
}

tr td:last-child {
    border-right: none;
}

ul {
    list-style-position: inside;
}

li {
    text-align: left;
    margin-left: clamp(0%, 25%, 25%);
    font-size: clamp(0.5rem, 1vw, 1.0rem);
}

img {
    max-width: 100%;
    height: auto;
}

#top_img {
    margin-left: 0;
    width: clamp(30%, 35%, 35%);
}

#contents {
    font-weight: 300;
}

#ss {
    display: inline-block;
    margin: 20px 10px 0 20px;
    width: clamp(10%, 12.5%, 12.5%);
    height: auto;
}

#bottom_img {
    margin: 3% auto 0 auto;
    width: clamp(20%, 20%, 20%);
    height: auto;
}

#form {
    margin-top: 2%;
    font-weight: 500;
    text-align: center;
    font-size: clamp(0.6rem, 1vw, 1.25rem);
}

footer {
    font-size: clamp(1.0rem, 1.25vw, 1.25rem);
    position: relative;
    width: 100%;
    text-align: right;
    margin-top: 49vh;
}